# Claude
.claude/worktrees/
.claude/settings.local.json

# Visual Studio standard ignores
.vs/
bin/
obj/
*.user
*.suo

# Local config file
config.json


# Ignore images directory
images/
actions/
rois/
inactive/